---
import { getPageByIdentifier, type Article } from "@galactiks/explorer";

import Picture from "./Picture.astro";
import Time from "./Time.astro";

type Props = { class?: string; article: Article };

const { class: className, article } = Astro.props;
const isPartOf =
  article.isPartOf && (await getPageByIdentifier(article.isPartOf));
---

<div class:list={["group cursor-pointer", className]}>
  <div class="rounded-md bg-primary-background transition-all hover:scale-105">
    {
      article.image && (
        <a class="block my-6" href={article.path || article.url}>
          <Picture
            src={article.image.contentUrl}
            widths={[360]}
            alt={article.image.name || article.name}
            class="my-1 object-cover transition-all lg:h-80 h-64"
          />
        </a>
      )
    }
  </div>
  <div>
    <a href={article.path || article.url} class="no-underline">
      <h2 class="my-1 text-xl font-semibold leading-snug tracking-tight">
        {article.name}
      </h2>
    </a>
    {
      isPartOf && (
        <div class="flex">
          <a href={isPartOf.path}>
            <span class="inline-block text-xs font-medium tracking-wider uppercase text-emerald-700">
              {isPartOf.name}
            </span>
          </a>
        </div>
      )
    }
    <div class="mt-2 flex items-center space-x-3 text-gray-500">
      <div class="flex items-center gap-3">
        {
          article.author && (
            <>
              {article.author?.image && (
                <div class="relative h-5 w-5 flex-shrink-0">
                  <Picture
                    src={article.author.image.contentUrl}
                    alt={article.author.image.description || article.name}
                    widths={[32, 48]}
                    sizes={`(max-width: 360px) 32px, 48px`}
                    class="rounded-full"
                  />
                </div>
              )}
              <span class="truncate text-sm">{article.author?.name}</span>
              <span class="text-xs text-gray-300">•</span>
            </>
          )
        }
        <Time
          class="truncate text-sm"
          inLanguage={article.inLanguage}
          datetime={article.datePublished}
        />
      </div>
    </div>
  </div>
</div>
