---
import { getTagPageByKeyword } from "@galactiks/explorer";

const { class: className, keyword } = Astro.props;

const keyworkPages = await getTagPageByKeyword(keyword);
const page = keyworkPages.length > 0 && keyworkPages[0];
---

{
  page ? (
    <a href={page.path} class={className}>#{page.name.toLowerCase()}</a>
  ) : (
    <span class={className}>#{keyword.toLowerCase()}</span>
  )
}
