---
import { getTagPageByKeyword } from "@galactiks/explorer";

type Props = {
  class: string;
  keyword: string;
  inLanguage?: string;
}
const { class: className, keyword, inLanguage } = Astro.props;

const keyworkPages = await getTagPageByKeyword(keyword, { inLanguage });
const page = keyworkPages.length > 0 && keyworkPages[0];
---

{
  page ? (
    <a href={page.path} class={className}>#{page.name.toLowerCase()}</a>
  ) : (
    <span class={className}>#{keyword.toLowerCase()}</span>
  )
}
