---
import {
  type Content,
  getPageByIdentifier,
  getPreviousWorkSeries,
  getNextWorkSeries,
} from "@galactiks/explorer";

import Article from "@components/Article.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import Picture from "@components/Picture.astro";
import TagItem from "@components/TagItem.astro";
import Time from "@components/Time.astro";

import PageLayout from "./PageLayout.astro";
import ArticleCard from "@components/ArticleCard.astro";

type Props = { content: Content };

const { content } = Astro.props;
const isPartOf =
  content.isPartOf && (await getPageByIdentifier(content.isPartOf));

const previousArticle = await getPreviousWorkSeries(content);
const nextArticle = await getNextWorkSeries(content);
---

<PageLayout content={content}>
  <div class="mx-auto max-w-4xl mt-16">
    <div class="text-center">
      {
        isPartOf && (
          <a
            href={isPartOf.path}
            class="text-primary inline-block text-xs font-medium tracking-wider uppercase"
          >
            {isPartOf.name}
          </a>
        )
      }
      <h1
        class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-5 lg:leading-tight"
      >
        {content.name}
      </h1>

      <div class="flex justify-center mt-3 space-x-3 text-gray-500">
        <div class="flex items-center">
          <div class="relative flex-shrink-0 w-10 h-10">
            {
              content.author?.image && (
                <Picture
                  src={content.author.image.contentUrl}
                  alt={content.author.image.description || content.author.name}
                  widths={[20, 50]}
                  class="rounded-full"
                />
              )
            }
          </div>
          <Time
            class="text-gray-500"
            inLanguage={content.inLanguage}
            datetime={content.datePublished}
          />
        </div>
      </div>

      {
        content.image && (
          <div class="relative my-6 z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
            <Picture
              src={content.image.contentUrl}
              widths={[300, 600, 900]}
              alt={content.image.name || content.name}
              class="w-full"
            />
          </div>
        )
      }
    </div>

    <Article class="mx-auto mt-12 max-w-3xl">
      <slot />

      {
        Array.isArray(content.keywords) && content.keywords.length > 0 && (
          <div class="my-4 flex flex-wrap items-center w-full gap-3 md:w-auto">
            {content.keywords.map((keyword) => (
              <TagItem
                class="text-sm text-gray-500"
                keyword={keyword}
                inLanguage={content.inLanguage}
              />
            ))}
          </div>
        )
      }

      {
        content.author && (
          <div class="my-6 px-8 py-4 text-gray-500 rounded-2xl bg-gray-50">
            <div class="flex flex-wrap items-start sm:space-x-6 sm:flex-nowrap">
              {content.author.image && (
                <div class="relative flex-shrink-0 w-24 h-24 mt-1">
                  <Picture
                    src={content.author.image.contentUrl}
                    alt={content.author.image.description || content.author.name}
                    widths={[100, 200]}
                    class="rounded-full object-cover"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                  />
                </div>
              )}
              <div>
                <div class="mb-3">
                  <h3 class="text-lg font-medium text-gray-800">
                    {content.author.name}
                  </h3>
                </div>
                <div>
                  <p>{content.author.description}</p>
                </div>
              </div>
            </div>
          </div>
        )
      }
    </Article>

    <div class="my-4 grid grid-cols-2 gap-4">
      {previousArticle && <ArticleCard article={previousArticle} />}

      {nextArticle && <ArticleCard article={nextArticle} />}
    </div>

    <Breadcrumb page={content} />
  </div>
</PageLayout>
