---
import { type Content, getPageByIdentifier } from "@galactiks/explorer";
import { Image } from "astro:assets";

import Article from "@components/Article.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import TagItem from "@components/TagItem.astro";
import Time from "@components/Time.astro";

import { dynamicViteAssetImport } from "../lib/image.mjs";
import PageLayout from "./PageLayout.astro";

type Props = { content: Content };

const { content } = Astro.props;
const isPartOf =
  content.isPartOf && (await getPageByIdentifier(content.isPartOf));
---

<PageLayout content={content}>
  <div class="mx-auto max-w-4xl mt-16">
    <div class="text-center">
      {
        isPartOf && (
          <a
            href={isPartOf.path}
            class="text-blue-400 inline-block mt-5 text-xs font-medium tracking-wider uppercase"
          >
            {isPartOf.name}
          </a>
        )
      }
      <h1
        class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-2 lg:leading-tight"
      >
        {content.name}
      </h1>

      <div class="flex justify-center mt-3 space-x-3 text-gray-500">
        <div class="flex items-center gap-3">
          <div class="relative flex-shrink-0 w-10 h-10">
            {
              content.author?.image && (
                <Image
                  src={dynamicViteAssetImport(content.author.image.contentUrl)}
                  alt={content.author.image.description || content.name}
                  width={80}
                  height={80}
                  loading="eager"
                  class="rounded-full"
                />
              )
            }
          </div>
          <div>
            {
              content.author && (
                <span class="block text-gray-800">{content.author.name}</span>
              )
            }
            <Time
              class="text-gray-500 text-sm"
              datetime={content.datePublished}
            />
          </div>
        </div>
      </div>

      {
        content.image && (
          <div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
            <Image
              src={dynamicViteAssetImport(content.image.contentUrl)}
              sizes="(max-width: 640px) 90vw, 480px"
              width={1024}
              height={576}
              alt={content.image.name || content.name}
              loading="eager"
              class="w-full"
            />
          </div>
        )
      }
    </div>

    <Article class="mx-auto mt-8 max-w-2xl">
      <slot />

      {
        Array.isArray(content.keywords) && content.keywords.length > 0 && (
          <div class="my-4 flex flex-wrap items-center w-full gap-3 md:w-auto">
            {content.keywords.map((keyword) => (
              <TagItem class="text-sm text-gray-500" keyword={keyword} />
            ))}
          </div>
        )
      }

      {
        content.author && (
          <div class="my-4 px-8 py-4 text-gray-500 rounded-2xl bg-gray-50">
            <div class="flex flex-wrap items-start sm:space-x-6 sm:flex-nowrap">
              {content.author.image && (
                <div class="relative flex-shrink-0 w-24 h-24 mt-1">
                  <a href={content.author.url || "#"}>
                    <Image
                      src={dynamicViteAssetImport(
                        content.author.image.contentUrl
                      )}
                      alt={content.name}
                      width={96}
                      height={96}
                      loading="lazy"
                      class="rounded-full object-cover"
                      style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                    />
                  </a>
                </div>
              )}
              <div>
                <div class="mb-3">
                  <a href={content.author.url || "#"} class="no-underline">
                    <h3 class="text-lg font-medium text-gray-800">
                      {content.author.name}
                    </h3>
                  </a>
                </div>
                <div>
                  <p>{content.author.description}</p>
                </div>
              </div>
            </div>
          </div>
        )
      }

      <Breadcrumb page={content} />
    </Article>
  </div>
</PageLayout>
