---
import type { Content } from "@galactiks/explorer";

import PageLayout from "./PageLayout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import TagItem from "@components/TagItem.astro";
import Picture from "@components/Picture.astro";

type Props = { content: Content };

const { content } = Astro.props;
---

<PageLayout class="my-6 prose max-w-screen-lg mx-auto" content={content}>
  {
    content.image && (
      <div class="relative my-6 z-0 overflow-hidden lg:rounded-lg aspect-video">
        <Picture
          src={content.image.contentUrl}
          widths={[300, 600, 900]}
          sizes={`(max-width: 360px) 300px, (max-width: 720px) 600px, 900px`}
          alt={content.image.name || content.name}
          class="w-full"
        />
      </div>
    )
  }

  <slot />

  {
    Array.isArray(content.keywords) && content.keywords.length > 0 && (
      <div class="my-4 flex flex-wrap items-center w-full gap-3 lg:w-auto">
        {content.keywords.slice(0, 3).map((keyword) => (
          <TagItem
            class="text-sm text-gray-500"
            keyword={keyword}
            inLanguage={content.inLanguage}
          />
        ))}
      </div>
    )
  }

  <Breadcrumb page={content} class="mt-6" />
</PageLayout>
